<ion-header>
  <ion-toolbar color="primary">

    <ion-title text-center>ADMISABILITY CHECK</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

    <ion-item lines="none">
        <mat-form-field class="example-full-width">
              <input matInput placeholder="Insurable interest" >
             
         </mat-form-field>
         <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
         <input hidden type="file" #fileInput>
      </ion-item>
      <ion-item lines="none">
          <mat-form-field class="example-full-width">
                <input matInput placeholder="Close Proximity" >
               
           </mat-form-field>
           <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
           <input hidden type="file" #fileInput>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field class="example-full-width">
                  <input matInput placeholder="NCB Conformation" >
                 
             </mat-form-field>
             <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
             <input hidden type="file" #fileInput>
          </ion-item>
          <ion-item lines="none">
              <mat-form-field class="example-full-width">
                    <input matInput placeholder="MIS-Representation Of Facts" >
                   
               </mat-form-field>
               <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
               <input hidden type="file" #fileInput>
            </ion-item>
            <ion-item lines="none">
                <mat-form-field class="example-full-width">
                      <input matInput placeholder="Driver Implant / Intoxication" >
                     
                 </mat-form-field>
                 <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                 <input hidden type="file" #fileInput>
              </ion-item>
              <ion-item lines="none">
                  <mat-form-field class="example-full-width">
                        <input matInput placeholder="Hire & Reward / Over Loading" >
                       
                   </mat-form-field>
                   <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                   <input hidden type="file" #fileInput>
                </ion-item>
                <ion-item lines="none">
                    <mat-form-field class="example-full-width">
                          <input matInput placeholder="Spot Survey / Photos" >
                         
                     </mat-form-field>
                     <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                     <input hidden type="file" #fileInput>
                  </ion-item>
                  <ion-item lines="none">
                      <mat-form-field class="example-full-width">
                            <input matInput placeholder="TP / TPPD Loss" >
                           
                       </mat-form-field>
                       <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                       <input hidden type="file" #fileInput>
                    </ion-item>
                    <ion-item lines="none">
                        <mat-form-field class="example-full-width">
                              <input matInput placeholder="Flood / Hydostatic Lock" >
                             
                         </mat-form-field>
                         <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                         <input hidden type="file" #fileInput>
                      </ion-item> <ion-item lines="none">
                          <mat-form-field class="example-full-width">
                                <input matInput placeholder="Aggravation Of Loss" >
                               
                           </mat-form-field>
                           <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                           <input hidden type="file" #fileInput>
                        </ion-item>
                        <ion-item lines="none">
                            <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Police Details" >
                                 
                             </mat-form-field>
                             <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                             <input hidden type="file" #fileInput>
                          </ion-item>
                          <ion-item lines="none">
                              <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Medical Records" >
                                   
                               </mat-form-field>
                               <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                               <input hidden type="file" #fileInput>
                            </ion-item>
                            <ion-item lines="none">
                                <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Insurer Suport" >
                                     
                                 </mat-form-field>
                                 <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                                 <input hidden type="file" #fileInput>
                              </ion-item>
                              <ion-item lines="none">
                                  <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Repairer Support" >
                                       
                                   </mat-form-field>
                                   <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                                   <input hidden type="file" #fileInput>
                                </ion-item>
                                <ion-item lines="none">
                                    <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Statements" >
                                         
                                     </mat-form-field>
                                     <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
                                     <input hidden type="file" #fileInput>
                                  </ion-item>
    

  <br/><br/>
  <div text-center>
     <button mat-raised-button color="primary" (click)="gotoActiondate()">BACK</button> &nbsp;&nbsp;
     <button mat-raised-button color="primary" (click)="gotocase2()">SAVE & Proceed</button>
</div>

</ion-content>

