ion-item {
    button{
        width: 30%;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        width: 95%;
    }
    //-webkit-margin-start: 17px!important;
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        margin: 0px 0px -4px 13px!important;
        color: #089caf!important;
    }
    .label_lbl{
        font-size: 14px!important;
    }

}