<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Job Inward</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        INSURER DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="insurerDetailsForm" (ngSubmit)="insurerDetailsFormSubmit()">
      <ion-item lines="none">
        <mat-form-field>
          <mat-label>insurer</mat-label>
          <mat-select formControlName="insurer">
            <mat-option *ngFor="let item of insurerList" [value]="item.company_name" (click)="getDivision(item)">
              {{item.company_name}}
            </mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Division</mat-label>
          <mat-select formControlName="division" (change)="selectBranch(item)">
            <mat-option *ngFor="let item of divionList" [value]="item.branch_name" (click)="getBrancDetails(item)">
              {{item.branch_name}}
            </mat-option>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="textarea" formControlName="address" placeholder="Address">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="contact" placeholder="conntact">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="email" placeholder="Email">
        </mat-form-field>
      </ion-item>


      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="apointedBy" placeholder="apointed By">
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="manager" placeholder="manager">
        </mat-form-field>
      </ion-item>


      <br><br>
      <div text-center>

        <button mat-raised-button [disabled]="insurerBtn || insurerDetailsForm.invalid" color="primary"
          (click)="insurerDetailsFormSubmit()">SAVE & NEXT</button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VEHICLE POLICY DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="vehiclepolicyform" (ngSubmit)="vehiclepolicyformSubmit()">

      <ion-item>


        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="vehicle No" formControlName="vehicleno">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field>
          <mat-label>vehicle class</mat-label>
          <mat-select formControlName="vehicle_class">
            <mat-option *ngFor="let item of vehicleClassList" [value]="item.class" (click)="getMaker(item)">
              {{item.class}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Maker</mat-label>
          <mat-select formControlName="make">
            <mat-option *ngFor="let item of makerList" [value]="item.make" (click)="getMakerDetails(item)">
              {{item.make}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>



      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="policy" placeholder="Policy No">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="typepolicy" placeholder="Type of Policy">
        </mat-form-field>
      </ion-item>




      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="idv" placeholder="IDV">
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="model" placeholder="Model">
        </mat-form-field>
      </ion-item>


      <ion-item>
        <ion-label>Period Form</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY " formControlName="todayto"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Period To</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY " formControlName="todayfrom"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="coverages" placeholder="Coverages">
        </mat-form-field>
      </ion-item>



      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="todayimt" placeholder="IMT">
        </mat-form-field>
      </ion-item>

      <br><br>
      <div text-center>

        <button mat-raised-button color="primary" [disabled]="vehicleBtn || vehiclepolicyform.invalid"
          (click)="vehiclepolicyformSubmit()">SAVE & NEXT</button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        INSURED DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="insuredDetailsForm" (ngSubmit)="insuredDetailsFormSubmit()">

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="insured" placeholder="Insured">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="textarea" formControlName="address" placeholder="Address">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="contact" placeholder="conntact">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="email" placeholder="Email">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="altContact" placeholder="alternate contact">
        </mat-form-field>
      </ion-item>


      <br><br>
      <div text-center>

        <button mat-raised-button color="primary" [disabled]="insuredBtn || insuredDetailsForm.invalid"
          (click)="insuredDetailsFormSubmit()">SAVE & NEXT</button>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        REPAIRER DETAILS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="repairerdetailsform" (ngSubmit)="repairerdetailsformSubmit()">



      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <mat-select formControlName="name">
            <mat-option *ngFor="let item of repairerList" [value]="item.company_name"
              (click)="getRepairerBranchList(item)">
              {{item.company_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Branch/Location</mat-label>
          <mat-select formControlName="repairerbranch">
            <mat-option *ngFor="let item of repairerBranchList" [value]="item.branch_name"
              (click)="getRepairerBranchAdvisorList(item)">
              {{item.branch_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Advisors</mat-label>
          <mat-select formControlName="advisorname">
            <mat-option *ngFor="let item of repairerBranchAdvisorList" [value]="item.advisor_name"
              (click)="getRepairerBranchAdvisorDetails(item)">
              {{item.advisor_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="address" placeholder="Address">
        </mat-form-field>
      </ion-item>


      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="advisorcontact" placeholder="Advisor Cont-No">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="email" formControlName="advisoremail" placeholder="Advisor Email-ID">
        </mat-form-field>
      </ion-item>


      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <!-- <ion-label>Amount</ion-label> -->
          <input matInput type="number" formControlName="estimateamt" placeholder="Estimate Amount INR">
        </mat-form-field>
      </ion-item>



      <ion-item lines="none">
        <mat-form-field>
          <mat-label>Managers</mat-label>
          <mat-select formControlName="managername">
            <mat-option *ngFor="let item of branchManagerList" [value]="item.manager_name"
              (click)="getRepairerBranchManagerDetails(item)">
              {{item.manager_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="managercontact" placeholder="Manager Contact">
        </mat-form-field>
      </ion-item>

      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="email" formControlName="managermail" placeholder="Manager Mail-ID">
        </mat-form-field>
      </ion-item>





      <br><br>
      <div text-center>

        <button mat-raised-button color="primary" [disabled]="repairerBtn || repairerdetailsform.invalid"
          (click)="repairerdetailsformSubmit()">SAVE & NEXT</button>
      </div>
    </form>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ACTION DATES
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="actuiondateform" (ngSubmit)="actuiondateformSubmit()">

      <ion-item>
        <ion-label>Date of Loss</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="dateofloss"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Veh Garage Inward Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="garageinward"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Intimation To Insurer</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="intimation_insurer"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Intimation To Police</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="intimation_police"></ion-datetime>
      </ion-item>




      <ion-item>
        <ion-label>Appointed On</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="appointed"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Survey Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm:a" formControlName="survey"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Estimate Date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" formControlName="estimatedate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Estimate Amount</ion-label>
        <ion-datetime type="number" formControlName="estimateamount"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="estimateamount" placeholder="Estimate Amount"
            (keyup)="getSageResult($event.target.value)">
        </mat-form-field>
      </ion-item>
      <ion-item lines="none">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="stage" placeholder="Stage">
        </mat-form-field>
      </ion-item>



      <br><br>
      <div text-center>

        <button mat-raised-button color="primary" [disabled]="actionDatesBtn || actuiondateform.invalid"
          (click)="actuiondateformSubmit()">SAVE & NEXT</button>
      </div>
    </form>

  </mat-expansion-panel>
  <br>
  <br>

  <ion-item lines="none">
    <mat-form-field>
      <mat-label>Select Job Type</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of jobTypeList" [value]="item.type" (click)="selectJobType(item)">
          {{item.type}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </ion-item>
  <ion-item lines="none">
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Insurer Claim Ref No" [(ngModel)]="claim_ref_no"
        (keyup)="getRefNo(claim_ref_no)">
    </mat-form-field>
  </ion-item>

  <!-- <ion-item lines="none">
    <mat-form-field>
      <mat-label>Select Comapny</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of companyList" [value]="item.full_name" (click)="selectCompany(item)">
          {{item.full_name}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </ion-item>
  <br><br>
  <ion-item lines="none">
    <mat-form-field>
      <mat-label>Select Manger</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of managerList" [value]="item.full_name" (click)="selectManger(item)">
          {{item.full_name}}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </ion-item> -->

  <br><br>

  <button class="example" mat-raised-button color="primary" [disabled]="!finalBtn" (click)="finalSubmit()">FINAL
    SUBMIT</button>
</ion-content>