<!-- <ion-header>
  <ion-toolbar>
    <ion-title>foursection</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding >


    <h1 text-center>Insurance Surveyor</h1> 
 
     <ion-title text-center><img style="height:100px;width:100px;margin-top:10%;" src = "../../assets/imgs/primarylogo.png"></ion-title> 
<!-- <div style="margin-top: 20%;">
  <div class="row">
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/claims.png">
          <h4 text-center>CLAIMS</h4>
      </div>
    </div>
   
  
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/analyze.png">
          <h4 text-center>INVESTIGATION </h4>
      </div>
    </div>
</div>



    <div class="row">
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/valuation.png">
          <h4 text-center>VALUATION</h4>
      </div>
    </div>
    
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/inspection (1).png">
          <h4 text-center>PREINSPECTION</h4>
      </div>
    </div>
  </div>
</div> -->
    
<div style="margin-top: 5%;">
  <div class="row">
    <div class="column" (click)="gotohome()">
      <div class="card">
          <!-- <img src="../../assets/imgs/claims.png"> -->
          <h2 text-center>HOME</h2>
      </div>
    </div>
   
  
    <div class="column" (click)="gotosearch()">
      <div class="card">
          <!-- <img src="../../assets/imgs/analyze.png"> -->
          <h2 text-center>SEARCH ENGINE</h2>
      </div>
    </div>
</div>


<div class="row">
  <div class="column" (click)="gotocase()">
    <div class="card">
        <!-- <img src="../../assets/imgs/claims.png"> -->
        <h2 text-center>NEW CASE</h2>
    </div>
  </div>
 

  <div class="column" (click)="gototodolist()">
    <div class="card">
        <!-- <img src="../../assets/imgs/analyze.png"> -->
        <h2 text-center>TO DO LIST</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="column" (click)="gotojob()">
    <div class="card">
        <!-- <img src="../../assets/imgs/claims.png"> -->
        <h2 text-center>JOB INWARD</h2>
    </div>
  </div>

</div>



    <!-- <div class="row">
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/valuation.png">
          <h4 text-center>VALUATION</h4>
      </div>
    </div>
    
    <div class="column" (click)="gotowelcome()">
      <div class="card">
          <img src="../../assets/imgs/inspection.png">
          <h4 text-center>PREINSPECTION</h4>
      </div>
    </div>
  </div> -->
</div>

      


  </ion-content>
