<ion-header>
   <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      WELCOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <div class="divcontent">

         <ion-item>
            <ion-label>Select Stage</ion-label>
            <ion-select okText="Okay" cancelText="Dismiss"  (ionChange)="getStageResultData($event.target.value)">
              <ion-select-option [value]="data.id" *ngFor="let data of select" >{{data.name}}</ion-select-option>
 

            </ion-select>
            </ion-item>
         
        
      <canvas #doughnutCanvas></canvas> 
     
  
   </div>
   

</div>
</ion-content>